﻿<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Admin
                        <span class="user-level">Admin Panel</span>
                    </span>
                </a>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Categories/Index">
                    <i class="la la-list-alt"></i>
                    <p>Category</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Products/Index">
                    <i class="la la-cube"></i>
                    <p>Product</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Sliders/Index">
                    <i class="la la-sliders"></i>
                    <p>Slider</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ProductsImages/Index">
                    <i class="la la-image"></i>
                    <p>Product Image</p>
                </a>
            </li>
        </ul>
    </div>
</div>