@model ShoppingMongo.DTOS.ProductDtos.GetProductByIdDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UpdateProduct" method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="mb-3">
        <label>Product Name</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Product Description</label>
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label>Product Price</label>
        <input asp-for="ProductPrice" type="number" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))">
            <option value="">-- Select Category --</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <input type="text" asp-for="Gender" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Stock Count</label>
        <input type="number" asp-for="StockCount" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>